/*######FileHead start######*/
package com.yiigaa.once.controllermodule;

import java.io.PrintWriter;
import java.io.StringWriter;
import java.util.HashMap;

import com.alibaba.fastjson.JSONObject;

/* 
* Special Note: 
* When using the command "Christmas.rb Menu/MakeEngineeringNormal/AutoLinkModule@Controller/", 
* Everything in this file will be updated.
* So don't add any code here
* If you need to modify this file, you need to modify it in /Christmas/Template/AutoLinkModule , and then execute the command "Christmas.rb Menu/MakeEngineeringNormal/AutoLinkModule@Controller/".
*/
public class ErrorCodes {
    public static boolean isErrorHappens(HashMap<String, Object> param){
        JSONObject checkParam = (JSONObject) param.get("returnParam");
        if(null == checkParam.get("errorCode") || 0 == ((String)checkParam.get("errorCode")).compareTo("Success") || 0 == ((String)checkParam.get("errorCode")).compareTo("200") || 0 == ((String)checkParam.get("errorCode")).compareTo("0")){
            return false;
        }
        return true;
    }

    public static String getErrorInfoFromException(Exception e){
        try {
            StringWriter strWriter = new StringWriter();
            PrintWriter printWriter = new PrintWriter(strWriter);
            e.printStackTrace(printWriter);
            return "\r\n" + strWriter.toString() + "\r\n";
        } catch (Exception ee) {
            return "\r\nbad getErrorInfoFromException!\r\n";
        }
    }

    public static JSONObject getErrorMessage(JSONObject param){
        if(null != param.get("message")){
            return param;
        }

        if(null == param.get("errorCode")){
            param.put("errorCode", "Success");
        }
        String[] tempStringArr = (String[]) errorCodeMaps.get(param.get("errorCode"));
        if(tempStringArr == null){
            param.put("errorCode", "unknown");
            param.put("message", "unknown");
        } else {
            param.put("errorCode", tempStringArr[0]);
            param.put("message", tempStringArr[1]);
        }

        return param;
    }


    private static HashMap<String, String[]> errorCodeMaps = new HashMap<String, String[]>(){{
        put("Success", new String[]{"200", "成功"});
        put("CONTROLLER_API_block", new String[]{"E-CC01(Controller)", "controller 崩溃"});
/*######FileHead end######*/
/*######FileTail start######*/
    }};
}
/*######FileTail end######*/