/*######FileHead start######*/
# Special Note: 
# When using the command "Christmas.rb Menu/MakeEngineeringNormal/AutoLinkModule@Controller/", 
# Everything in this file will be updated.
# So don't add any code here
# If you need to modify this file, you need to modify it in /Christmas/Template/AutoLinkModule , and then execute the command "Christmas.rb Menu/MakeEngineeringNormal/AutoLinkModule@Controller/".

###Common Setting###
server.servlet.context-path=/once
server.tomcat.uri-encoding=UTF-8
logging.config=config/log4j2-spring.xml
logging.level.com.yiigaa=DEBUG

/*######FileHead end######*/


/*######FileTail start######*/
# Special Note: 
# When using the command "Christmas.rb Menu/MakeEngineeringNormal/AutoLinkModule@Controller/", 
# Everything in this file will be updated.
# So don't add any code here
# If you need to modify this file, you need to modify it in /Christmas/Template/AutoLinkModule , and then execute the command "Christmas.rb Menu/MakeEngineeringNormal/AutoLinkModule@Controller/".

###Common Setting###
server.tomcat.uri-encoding=UTF-8
logging.config=classpath:log4j2.xml
server.servlet.session.cookie.path=/

/*######FileTail end######*/