/*######FileHead start######*/
package com.yiigaa.once.servicemodule;
/*######FileHead end######*/


/*######FileBody start######*/
import java.util.HashMap;

/*
* Special Note:
* When using the command "Christmas.rb Menu/MakeEngineeringNormal/AutoLinkModule@Controller/",
* Everything in this file will be updated.
* So don't add any code here
* If you need to modify this file, you need to modify it in /Christmas/Template/AutoLinkModule , and then execute the command "Christmas.rb Menu/MakeEngineeringNormal/AutoLinkModule@Controller/".
*/
public class ServiceModule {
    public static HashMap<String, Object> invokeMethod(String methodParam, HashMap<String, Object> param){
        HashMap<String, Object> returnParam =  moduleMaps.get(methodParam).start(param);
        return returnParam;
    }

    private static HashMap<String, Link> moduleMaps = new HashMap<String, Link>(){{
/*######FileBody end######*/

/*######FileTail start######*/
    }};
}
/*######FileTail end######*/