######DEFAULT######
{
    "version":"1.0=0000.00.00",
    "publish":"@@date@@",
    "file":[
        "@@file@@",
        "@@load@@"
    ],
    "skip":[
        "Once.Config"
    ]
}
######DEFAULT######