######DEFAULT######
[   
    @@piece@@
    {
        "Xmas_shell":"python3 Christmas.py Input/MergeCode/LinkModule",
        "Xmas_cwd":".",
        "Xmas_judge":true
    }
]
######DEFAULT######

######API######
{
    "Xmas_shell":"python3 Christmas.py Input/GenCode/API#@@api@@",
    "Xmas_cwd":".",
    "Xmas_judge":true
},
######API######