######DOCUMENT-NORMAL######
#!/usr/bin/env python3
# -*- coding: UTF-8 -*-

class GetTemplate:
    @@function@@
######DOCUMENT-NORMAL######

######FUNCTION-NORMAL######
    def Start(targetParam, moduleParam):
        return GetTemplate.DoStart(targetParam, moduleParam)
######FUNCTION-NORMAL######