**以下内容需要Christmas合并(##Config##)
**最终合并到config/application.properties
**用于修改本地运行时的全局设置，具体配置参考SpringBoot官方说明
**框架自动更新时，此文件不会被覆盖，除非此文件缺失
**The following content requires Christmas merge (##Config##)
**Finally merged into 'onfig/application.properties'
**It is used to modify the global settings of local runtime. Please refer to the official instructions of SpringBoot for specific configuration
**When the framework is automatically updated, this file will not be overwritten unless it is missing

######Config######
server.tomcat.uri-encoding=UTF-8
server.servlet.context-path=/once
server.servlet.session.cookie.path=/
logging.config=classpath:log4j2.xml
logging.level.main=DEBUG
spring.jackson.json.read.allow-trailing-comma=true
######Config######


**以下内容需要Christmas合并(##Config-Check##)
**最终合并到config/application.properties
**用于修改本地运行时的全局设置，具体配置参考SpringBoot官方说明
**框架自动更新时，此文件不会被覆盖，除非此文件缺失
**The following content requires Christmas merge (##Config##)
**Finally merged into 'onfig/application.properties'
**It is used to modify the global settings of local runtime. Please refer to the official instructions of SpringBoot for specific configuration
**When the framework is automatically updated, this file will not be overwritten unless it is missing

######Config-Check######
server.tomcat.uri-encoding=UTF-8
server.servlet.session.cookie.path=/
logging.config=classpath:log4j2.xml
logging.level.main=INFO
spring.jackson.json.read.allow-trailing-comma=true
######Config-Check######